* {
    color: black;
    margin: 0px;
    padding: 0;
}

html {
    background-color: black;
}

/*HEADER*/

.main-header {
    background-color: rgba(47, 47, 160, 0.685);
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.main-header ul{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.main-header i a{
    color: white;
}

.main-header div {
    color: white;
    flex: 1;
    padding: 50px;
}

section {
    display: flex;
    padding: 8% 13%;
}

.first-section {
    background-color: rgb(22, 35, 54);
    gap: 50px;
}

.first-section * {
    color: white;
}

.first-section div {
    flex: 1;
}

.first-section h1 {
    font-size: 400%;
}

.first-section p {
    margin-top: 25px;
    font-size: 160%;
}

.first-section button {
    background-color: rgb(24, 89, 116);
}

button {
    font-size: 125%;
    font-weight: bold;
    margin-top: 25px;
    padding: 8px 20px;
    border: 0;
    border-radius: 10px;
}